@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=MuseoModerno:wght@200&display=swap');
* {
  padding: 0;
  margin: 0;
	border: 0;
	box-sizing: border-box;
}
body {
    background: url("./background.png") center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
*::-webkit-scrollbar {
	display: none;
}
main {
  max-width: 1360px;
  min-height: calc(100vh - 170px);
  margin: 0 auto;
  padding: 67px 20px 20px 20px;
}